@import "../pages/settings";

.about-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}


.imgTitle {
    position: relative;
    width: 335px;
    height: 111px;
    object-fit: cover;
    border-radius: 10px;

}