@import "../pages/settings";

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 22px;
}

.title {
    position: absolute;
    z-index: 1;
    width: 335px;
    font-weight: 700;
    font-size: 24px;
    color: $color-3;
    padding: 31px 94px 32px 16px;

}

.imgTitle {
    position: relative;
    width: 335px;
    height: 111px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(60%);
}