@import "../pages/settings";

.carrousel {
    padding: 0px 20px 0px 20px;
    position: relative;
    width: 100%;
    height: 225px;

    img {
        width: 100%;
        height: 225px;
        background: $color-1;
        object-fit: cover;
        border-radius: 10px;
        position: relative;

    }

    .arrow {
        position: absolute;
        top: 50%;
        width: 24px;
        height: 24px;
        background-color: transparent;
        transform: translateY(-50%);
    }

    .arrowRight {
        right: 7%
    }

    .arrowLeft {
        left: 7%
    }

    p {
        position: absolute;
        bottom: 6%;
        left: 50%;
        color: $color-3;
        font-size: 18px;
        font-weight: 500;
        visibility: hidden;
    }

}

@media (min-width : 768px) {
    .carrousel {
        height: 320px;

        img {
            height: 320px;
        }

        .arrow {
            width: 36px;
            height: 52px;
        }

        p {
            visibility: visible;
        }
    }
}

@media (min-width : 1025px) {
    .carrousel {
        height: 415px;
        padding: 0px 100px 0px 100px;

        img {
            height: 415px;
            border-radius: 25px;
        }

        .arrow {
            width: 47px;
            height: 79px;
        }

        .arrowRight {
            right: 10%
        }

        .arrowLeft {
            left: 10%
        }
    }
}