@import "../pages/settings";

.erreur-content {
    margin: 113px 0 113px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .error-title {
        font-size: 96px;
        font-weight: 700;
        color: $color-1;
        margin-bottom: 113px;
    }

    .error-subtitle {
        color: $color-1;
        margin: 0 57.5px 113px 57.5px;
        text-align: center;
        font-size: 18px;



    }

    .error-text {
        text-decoration: underline;
        font-size: 14px;
    }
}