@import "../pages/settings";

.fiches-content {
    margin: 15px 20px 0px 20px;
    padding: 0;

    .fiches-title {
        color: $color-1;
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    .fiches-subtitle {
        color: black;
        font-size: 14px;
        font-weight: 500;
    }
}



.tags {
    display: flex;
    gap: 10px;
    margin: 20px 0 24px 0;
    flex-wrap: wrap;

    .tags-content {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px 29px 2px 29px;
        text-align: center;
        color: $color-3;
        background-color: $color-1;
        border-radius: 5px;
        font-size: 10px;
        font-weight: 700;
        white-space: nowrap;
   

    }
}

.fiches-content-host {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .host-info {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10.5px;

        img {
            border-radius: 50%;
            height: 32px;
            width: 32px;
        }

        p {
            text-align: right;
            color: $color-1;
            font-size: 12px;
            font-weight: 500;
            width: 80px;
        }
    }

    .rate {
        width: 93px;
        height: 33px;
        display: flex;
        align-items: center;
        gap: 5px;

        .stars {
            width: 16px;
            height: 16px;
        }
    }
}

@media (min-width : 768px) {
    .fiches-content {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .fiches-title {
            font-size: 32px;
        }

        .fiches-subtitle {
            font-size: 16px;
        }

        .tags-content {
            padding: 3px 20px 2px 20px;
            text-align: center;
            font-size: 14px;

        }
    }

    .fiches-content-host {
        flex-direction: column-reverse;
        margin-top: -14px;

        .host-info {
            img {
                border-radius: 50%;
                height: 64px;
                width: 64px;
            }

            p {
                font-size: 16px;
                width: 110px;
            }
        }

        .rate {
            width: 196px;
            height: 36px;
            gap: 5px;
            display: flex;
            justify-content: right;

            .stars {
                width: 24px;
                height: 24px;
            }
        }
    }
}


@media (min-width: 1025px) {
    .fiches-content {
        margin: 30px 100px 24px 100px;

        .fiches-title {
            font-size: 36px;
        }

        .fiches-subtitle {
            font-size: 18px;
        }
    }
}

.collapse-fiche {
    flex-direction: row;
}