@font-face {
    font-family: "font-1";
    src: url(../../Assets/fonts/Montserrat/Montserrat.ttf);
}

$font-1: "font-1", sans-serif;
$color-1: #FF6060;
$color-2: #F6F6F6;
$color-3: #FFFFFF;
$color-4: #000000;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;

}

body {
    font-family: $font-1;
    width: 100%;
    min-width: 320px;
    background-color: #FFFFFF;

}

a {
    text-decoration: none;
    color: $color-4;
    cursor: pointer;
}

@media (min-width : 1025px) {
    body {
        min-width: 1025px;
        margin: 0;
        padding: 0;
    }


}