@font-face {
  font-family: "font-1";
  src: url(../../Assets/fonts/Montserrat/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "font-1", sans-serif;
  width: 100%;
  min-width: 320px;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    min-width: 1025px;
    margin: 0;
    padding: 0;
  }
}
ul {
  list-style-type: none;
  display: flex;
  gap: 26px;
  padding-left: 43px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  margin-bottom: 27px;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
}

.nav-active {
  border-bottom: 1px solid black;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .navigation {
    margin: 45px 100px 50px 100px;
    font-size: 24px;
    text-transform: capitalize;
    justify-content: space-between;
  }
  .navigation ul {
    gap: 57px;
  }
}
@font-face {
  font-family: "font-1";
  src: url(../../Assets/fonts/Montserrat/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "font-1", sans-serif;
  width: 100%;
  min-width: 320px;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    min-width: 1025px;
    margin: 0;
    padding: 0;
  }
}
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px 22px 20px;
}

.title {
  position: absolute;
  z-index: 1;
  width: 335px;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
  padding: 31px 88px 32px 16px;
}

.imgTitle {
  position: relative;
  width: 100%;
  height: 111px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: brightness(60%);
}

@media (min-width: 1025px) {
  .banner {
    margin: 0 100px 43px 100px;
  }
  .banner .imgTitle {
    width: 1240px;
  }
  .banner .title {
    font-size: 48px;
    width: 843px;
  }
}
.footer {
  background-color: black;
  width: 100%;
  padding: 66px 121px 58px 121px;
  margin: 0;
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer p {
  color: white;
  font-size: 12px;
  text-align: center;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  .footer p {
    font-size: 24px;
  }
}
@font-face {
  font-family: "font-1";
  src: url(../../Assets/fonts/Montserrat/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "font-1", sans-serif;
  width: 100%;
  min-width: 320px;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    min-width: 1025px;
    margin: 0;
    padding: 0;
  }
}
.erreur-content {
  margin: 113px 0 113px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.erreur-content .error-title {
  font-size: 96px;
  font-weight: 700;
  color: #FF6060;
  margin-bottom: 113px;
}
.erreur-content .error-subtitle {
  color: #FF6060;
  margin: 0 57.5px 113px 57.5px;
  text-align: center;
  font-size: 18px;
}
.erreur-content .error-text {
  text-decoration: underline;
  font-size: 14px;
}

@font-face {
  font-family: "font-1";
  src: url(../../Assets/fonts/Montserrat/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "font-1", sans-serif;
  width: 100%;
  min-width: 320px;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    min-width: 1025px;
    margin: 0;
    padding: 0;
  }
}
.card-content {
  margin: 20px 20px 20px 20px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 20px;
}
.card-content article {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 225px;
  cursor: pointer;
}
.card-content img {
  width: 100%;
  height: 225px;
  border-radius: 10px;
  background: #FF6060;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}
.card-content p {
  height: 52px;
  color: #FFFFFF;
  position: absolute;
  padding: 0 20px 0 20px;
  top: 70%;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 142.6%;
}

@media (min-width: 768px) {
  .card-content {
    grid-template-columns: 1fr 1fr;
  }
  .card-content article {
    width: 100%;
    height: 250px;
  }
  .card-content img {
    width: 100%;
    height: 250px;
  }
}
@media (min-width: 1025px) {
  .card-content {
    grid-template-columns: 1fr 1fr 1fr;
    margin: 56px 100px 50px 100px;
  }
  .card-content article {
    width: 100%;
    height: 340px;
  }
  .card-content img {
    width: 100%;
    height: 340px;
  }
}
@font-face {
  font-family: "font-1";
  src: url(../../Assets/fonts/Montserrat/Montserrat.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "font-1", sans-serif;
  width: 100%;
  min-width: 320px;
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
}

@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    min-width: 1025px;
    margin: 0;
    padding: 0;
  }
}
.collapse {
  padding: 0 28px 0 20px;
  width: 100%;
}
.collapse .collapse-content {
  font-size: 13px;
  padding: 13px 28px 20px 20px;
  background-color: rgba(246, 246, 246, 0.4509803922);
}
.collapse .collapse-title {
  padding: 19px 28px 20px 20px;
  background: #FF6060;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  padding: 0px 10px;
  margin-top: 20px;
}
.collapse .collapse-title .subtitle {
  color: #FFFFFF;
}
.collapse .collapse-title .rotate {
  transition: transform 0.3s ease;
}
.collapse .collapse-title .rotateUp {
  transform: rotate(180deg);
}
.collapse .collapse-title .rotateDown {
  transform: rotate(0);
}
.collapse .collapse-about {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=index.css.map */